.checkout {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .checkout {
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: flex-end;
  }
}
