.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.toggleButton {
  display: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.toggleButton:hover {
  background-color: #f0f0f0;
}

@media (max-width: 576px) {
  .toggleButton {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / -1;
    margin: 0 auto 0.5rem auto;
    width: fit-content;
    min-width: 10rem;
  }

  .list {
    display: none;
    width: 100%;
    justify-content: center;
  }

  .list.open {
    display: flex;
  }
}
