.shops {
  width: 20rem;
  padding: 0 0.5rem;
  height: 70vh;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.header {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.emptyMessage {
  font-size: 1rem;
  color: #777;
  margin-top: 1rem;
  text-align: center;
}

@media (max-width: 576px) {
  .shops {
    padding: 0.5rem;
    height: auto;
  }
}
