.shops {
  width: 100%;
  padding: 1rem;
  min-height: 70vh;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid #000000;
}

.header {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.emptyMessage {
  font-size: 1rem;
  color: #777;
  margin-top: 1rem;
  text-align: center;
}

.loaderWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .shops {
    min-height: 10vh;
    height: fit-content;
    padding: 0.5rem;
  }
}
