.shop {
  width: 100%;
  padding: 1rem;
  height: 70vh;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-radius: 0.5rem;
  border: 1px solid #000000;
}

.emptyMessage {
  font-size: 1rem;
  color: #777;
  margin-top: 1rem;
  text-align: center;
}

.loaderWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .shop {
    padding: 0.5rem;
    height: auto;
    overflow-y: visible;
  }
}
